.info-container {
    & h1 {
        font-size: 2.5rem;
        margin-bottom: .8rem;
        line-height: 1;
    }
    & h2 {
        font-size: 1.2rem;
        color: #505050;
        margin-bottom: 1.2rem;
        line-height: 1;
        font-style: italic;
    }

    & hr {
        width: 100%;
        height: 2px;
        background-color: #242424;
        border: 0;
        margin-bottom: 1.2rem;
    }

    & p {
        font-size: 0.9rem;
        margin-bottom: 1.2rem;
    }
}
