.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    & .form {
        width: 400px;
        display: flex;
        justify-content: center;
        gap: 1rem;

        & input {
            width: 10rem;
            height: 2.2rem;
            font-size: 1.2rem;
            padding-left: 0.3rem;
        }

	  & button {
		padding: 0 .7rem;
		border: none;
		border-radius: .4rem;
		background-color: #ffffffde;;
		color: #242424;
		font-size: 1rem;
		font-weight: bold;
		transition: all .3s;
	  }
	  & button:hover{
		background-color: rgb(181, 213, 228);;
	  }
    }

    & .msg {
	font-size: 1.5rem;
    }

    & .msg-success{
	color: #5eb16c;
    }
    & .msg-error{
	color: #c45050;
    }
}
