.work-experience-container {
    margin-bottom: 3rem;

    & .experience-list {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & .experience-item {

		& .experience-title {
			font-size: 1.2rem;
			margin-bottom: .3rem;
		}

		& .experience-subtitle{
			font-size: 1rem;
			font-style: italic;
			color: #747474;
			margin-bottom: .5rem;
		}

		& .experience-description {
			font-size: 1rem;
			width: 50ch;
		}
	}

    }
}
