.cv-container {
    width: 840px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
    border-radius: 1rem;
    color: #242424;

    & aside {
        width: 320px;
        background-color: #6da78a;
        border-radius: 1rem 0 0 1rem;
        text-align: start;
        padding: 1.5rem;
    }

    & main {
        width: 520px;
        padding: 1.5rem;
        text-align: start;
        
        & .main-subtitle {
            background: linear-gradient(to right,#6da78a, #c4e7d6);
            padding-left: 1rem;
            border-radius: 5px;
            margin-bottom: 1rem;
        }
    }
    & .color-point {
        color: #35c07b;
    }
}
