.contact-container {
    & .title {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
        line-height: 1;
    }

    & .contact-list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .contact-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            & .contact-icon {
                font-size: 1rem;
            }
            & span {
                font-size: 1rem;
                font-style: italic;
            }
        }
    }
}
