.form-container {
    width: 80%;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    background-color: #e6e6e6;
    border-radius: 0.5rem;

    & h2 {
        color: #242424;
        margin-bottom: 1rem;
    }

    & form {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        & select,
        input {
            padding: 0.5rem 1rem;
		border: none;
		background-color: #d8d8d8;
            border-bottom: 2px solid #242424;
		border-radius: .3rem .3rem 0 0;
            color: #242424;
            font-size: 0.9rem;
        }

        & select:focus,
        input:focus {
            outline: none;
        }

        & input::placeholder {
            color: #242424;
        }

        & input[type="datetime-local"]::-webkit-calendar-picker-indicator {
            filter: invert(
                1
            ); 
        }

        & button {
            background-color: transparent;
            padding: 0 1rem;
            border: 2px solid #7ea1ac;
            color: #7ea1ac;
            font-weight: bol;
            font-size: .9rem;
            border-radius: .5rem;
            cursor: pointer;
            transition: all .3s;
        }
        
        & button:hover{
            background-color: #7ea1ac;
            color: #242424;
          }

    }
}
