.shifts-container {
    width: 70%;
    min-height: 25rem;
    background-color: #e6e6e6;
    color: #242424;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;

    & .bar {
        display: flex;
        justify-content: space-between;

        & button {
            background-color: transparent;
            border: 2px solid #242424;
            cursor: pointer;
            padding: 0.3rem 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            & i {
                font-size: 1.5rem;
                color: #242424;
            }
        }
    }

    & .shift-item {
        display: flex;
        justify-content: space-between;
        border: 2px solid #242424;
        border-radius: 0.5rem;
        padding: 2rem;
        font-size: 1rem;
        box-shadow: 0 0 10px 0 rgba(36, 36, 36, 0.5);

        & .content {
            display: flex;
            gap: 2rem;

            & .item {
                display: flex;
                flex-direction: column;

                & p {
                    font-weight: bold;
                }
            }
        }

        & button {
            background-color: transparent;
            padding: 0 1rem;
            border: 2px solid #7ea1ac;
            color: #7ea1ac;
            font-weight: bol;
            font-size: 0.9rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.3s;
        }
        & button:hover {
            background-color: #7ea1ac;
            color: #242424;
        }
    }

    & .shift-item:hover {
        background-color: #dbdbdb;
    }

    & .attended {
        background-color: #ad5252;
        color: #e6e6e6;

        & button {
            color: #949494;
            border: 2px solid #949494;
        }

        & button:hover {
            background-color: transparent;
            color: #949494;
        }
    }

    & .attended:hover {
        background-color: #ad5252;
    }
}
